* {
    margin: 0;
    padding: 0;
}

.lang {
    background: #4169e1;
    height: 130px;
    width: 80px;
    
}

li {
    list-style: none;
    width: 80px;
    
}

a {
   
    font-size: 24pt;
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

a:hover {
    background: blue;
    
}